*{
    text-transform: capitalize;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
}
header nav{
    background-color: rgb(39, 34, 34);
    height: 11%;
    width: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
}
nav ul{
    list-style: none;
    float: left;
    padding-top: 10px;
    display: inline;
    position: absolute;
    top: 1px;
    right: 3%;
    width: 70%;
    
    
}
nav ul .list{
    display: inline-block;
    margin-left: 50px;
    
}

nav ul .list a{
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 5px;
    transition: opacity 0.5s;

}
nav ul .list a::after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: aqua;
    transition: width 0.7s;

}
nav ul .list a:hover::after{
    
    background-color: aqua;
    width: 100%;
    
}
nav ul .list a:hover{
    
    opacity: 0.6;
}
nav ul #home a{
    color: aqua;
    
}

.clear{
    clear: both;
}

header .first {
    text-align: center;
    position: absolute;
    top: 200px;
    left: 25%;
    right: 25%;
    transform: translate(0%,-50%);
}
header .first h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30%;
    z-index: 1;
    color: white;
}
#big{
    background-image: url(images/background/background1.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
header .first p{
    color: rgb(32, 27, 27);
    z-index: 1;
    font-size: 18px;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header .first a{
    transition: opacity 0.5s;
}
header .first a:hover{
    opacity: .8;
}

header .first button{
    margin-left: 20px;
    height: 45px;
    width: 120px;
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}
header .first #get{
    background-color: white;
    transition: background-color 0.8s;
}
header .first #get a{
    color: black;
    padding: 19px;
}
header .first #get:hover{
    background-color: black;
}
header .first #get a:hover{
    color: white;
}
header .first #learn{
    background-color: black;
    transition: background-color 0.8s;
}
header .first #learn a{
    color: aqua;
    padding: 19px;
}
header .first #learn:hover{
    background-color: rgb(32, 197, 197);
    
}
header .first #learn a:hover{
    color: white;
}